body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 80%;
    margin-left: 100px;
    margin-top: 50px;
}
.container h1{
    margin: 15px auto;
    margin-left:17%;
    margin-bottom: 30px;

}
.container ul{
    list-style-type: none;
    margin: 0 auto;
}
.container ul li{
    padding: 8px;
    background-color: #fff;
    width: 80%;
    margin: 6px;
    border: 0.15px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}
#btn{
    color: #fff;
    position: relative;
    left: 46px;
    top: 12px;
    padding: 9px 15px;
    border: none;
    background-color: #2AAF3D;
    font-size: 15px;
    border-radius: 5px;
}
#btn:hover{
    background-color: black;
    cursor: pointer;
}
#color-box{
    width: 650px;
    height: 250px;
    background-color: #95FF91;
    margin-left: 45px;
    margin-top: 40px;
}
#color-box>p{
    margin: 15px;
    padding-top: 5px;
}
.from-group{
    margin: 45px;
    width: 80%;
}
.from-control{
    width: 97%;
    padding: 7px 0;
    padding-left: 6px;
    font-size: 16px;
    border: 0.15px solid #ddd;
    border-radius: 3px;

 /* padding: 5px 200px; */
    /* width: 100%; */
}

.from-group label{
    position: relative;
    top: -10px;
    /* margin-bottom: 7px; */
}
#show-name{
    width: 80%;
    height: 100px;
    padding: 10px;
    background-color: #ddd;
    display: none;
    box-shadow: 2px 6px 2px 1px #ddd;
    border-radius: 5px;
}
.cheak-list{
    margin: 35px;
}
.form-cheak{
    margin: 5px 0;
}
.form-cheak-input{}